h1 {
  color: black;
  text-align: center;
}

p {
  font-family: Arial;
  font-size: 20px;
}

a{
  color:red
  text-align: center;
  font-family: Elephant;
  font-size:14;
}

body#indice{
	background-color:yellow;
}

body#curriculum{
	background-color:green;
}

body#personaje{
	 background-image: url("lupa_animada.gif");

}

body#futuro{
background-image: url("fondo.jpg");		
}

body#tutorial{
background-image: url("fondo1.jpg");		
}